.tab-content > .tab-pane,
.pill-content > .pill-pane {
  display: none;
}

.tab-content > .active,
.pill-content > .active {
  display: block;
}

.tabs-below > .nav-tabs {
  border-top: 1px solid #ddd;
}

.tabs-below > .nav-tabs > li {
  margin-top: -1px;
  margin-bottom: 0;
}

.tabs-below > .nav-tabs > li > a {
  -webkit-border-radius: 0 0 4px 4px;
     -moz-border-radius: 0 0 4px 4px;
          border-radius: 0 0 4px 4px;
}

.tabs-below > .nav-tabs > li > a:hover,
.tabs-below > .nav-tabs > li > a:focus {
  border-top-color: #ddd;
  border-bottom-color: transparent;
}

.tabs-below > .nav-tabs > .active > a,
.tabs-below > .nav-tabs > .active > a:hover,
.tabs-below > .nav-tabs > .active > a:focus {
  border-color: transparent #ddd #ddd #ddd;
}

.tabs-left > .nav-tabs > li,
.tabs-right > .nav-tabs > li {
  float: none;
}

.tabs-left > .nav-tabs > li > a,
.tabs-right > .nav-tabs > li > a {
  min-width: 74px;
  margin-right: 0;
  margin-bottom: 3px;
}

.tabs-left > .nav-tabs {
  float: left;
  margin-right: 19px;
  border-right: 1px solid #ddd;
}

.tabs-left > .nav-tabs > li > a {
  margin-right: -1px;
  -webkit-border-radius: 4px 0 0 4px;
     -moz-border-radius: 4px 0 0 4px;
          border-radius: 4px 0 0 4px;
}

.tabs-left > .nav-tabs > li > a:hover,
.tabs-left > .nav-tabs > li > a:focus {
  border-color: #eeeeee #dddddd #eeeeee #eeeeee;
}

.tabs-left > .nav-tabs .active > a,
.tabs-left > .nav-tabs .active > a:hover,
.tabs-left > .nav-tabs .active > a:focus {
  border-color: #ddd transparent #ddd #ddd;
  *border-right-color: #ffffff;
}

.tabs-right > .nav-tabs {
  float: right;
  margin-left: 19px;
  border-left: 1px solid #ddd;
}

.tabs-right > .nav-tabs > li > a {
  margin-left: -1px;
  -webkit-border-radius: 0 4px 4px 0;
     -moz-border-radius: 0 4px 4px 0;
          border-radius: 0 4px 4px 0;
}

.tabs-right > .nav-tabs > li > a:hover,
.tabs-right > .nav-tabs > li > a:focus {
  border-color: #eeeeee #eeeeee #eeeeee #dddddd;
}

.tabs-right > .nav-tabs .active > a,
.tabs-right > .nav-tabs .active > a:hover,
.tabs-right > .nav-tabs .active > a:focus {
  border-color: #ddd #ddd #ddd transparent;
  *border-left-color: #ffffff;
}

.logList {
	margin-top: 20px;
	
	min-height: 300px;
	padding: 5px 15px;
	border: 5px solid #000;
	border-radius: 15px;
}

.logItem {
  margin-bottom: 10px;
}

.logList:before {
	content: 'log';
	padding: 0 5px;
	position: relative;
	top: -1.1em;
	background-color: #FFF;
}

.container {
	width: 750px;
	margin: auto;
}

h2 {
	text-align: center;
}

.floatleft {
  float: left;
}

.floatright {
  float: right;
}

.clear {
  clear: both;
}

.edit-in-place span {
  cursor: pointer;
}

.edit-in-place input {
  display: none;
}

.edit-in-place.active span {
  display: none;
}

.edit-in-place.active input {
  display: inline-block;
}
/*#category .commandcollapse .glyphicon-plus {
	float:right; 
	margin-right: 10px;
	display:none;
}
#category .commandcollapse .glyphicon-remove {
	float:right; 
	margin-right: 10px;
}*/


#category a {
	color: #333;
}
#category .panel-heading {
	height: 40px;
}
#category .title {
	float: left;
}
#category .buttons {
	float:right;
}
#todo {
	margin: 12px 10px 10px;
	min-height: 10px;
}
.panel-heading .accordion-toggle:after {
    /* symbol for "opening" panels */
    font-family: 'Glyphicons Halflings';  /* essential for enabling glyphicon */
    content: "\e114";    /* adjust as needed, taken from bootstrap.css */
    float: right;        /* adjust as needed */
    color: #333;
    margin-right: 10px;
}
.panel-heading .accordion-toggle.collapsed:after {
    /* symbol for "collapsed" panels */
    content: "\e080";    /* adjust as needed, taken from bootstrap.css */
}
.panel-title .editable-wrap .editable-controls > input {
	height: 30px;
}
.panel-group .input-group-addon{
	padding: 0px 0px;
}
[ng-click],
[data-ng-click],
[x-ng-click] {
    cursor: pointer;
}
.count {
	margin: 2px 0px;
}
.ng-pageslide {
    background: #EEE none repeat scroll 0% 0%;
}
#todolist{
	margin: 0px 10px ;
}
#calendar {
	position: fixed;
	width: 864px;
	padding: 10px;
	left: 430px;
	height: 500px;
	display: none;
	border-radius: 20px;
	border-color: #DDD;
	background-image: linear-gradient(to bottom, #F5F5F5 0px, #E8E8E8 100%);
	background-repeat: repeat-x;
}
#calendar-btn { 
	height: 104px;
	width: 140px;
	position: fixed;
	top: 16%;
	z-index: 999;
	transform: rotate(-90deg);
	left: 98%;
	transform: rotate(-90deg);
	-webkit-transform: rotate(-90deg); 
	-moz-transform: rotate(-90deg); 
	-o-transform: rotate(-90deg); 
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}
#calendar-btn:hover {
	left: 96%;
}
#calendar-btn a { 
	width: 98px;
	padding: 7px 16px;
	color: #FFF;
	font-family: Arial,sans-serif;
	font-size: 17px;
	font-weight: bold;
	text-decoration: none;
	border-bottom: 1px solid #333;
	border-left: 1px solid #333;
	border-right: 1px solid #FFF;
	height: 35px;
	background: #140A6F none repeat scroll 0% 0%;
	border-radius-right: 10px;
	display: block;
}

#calendar-btn  a:hover { 
  background: #06c; 
}
.gcal-event-yass {
	background-color: red !important;
	border: 1px solid #F0AE90 !important;
}
.gcal-event-emse  {
	background-color: green !important;
	border: 1px solid #F0AE90 !important;
}
.ngdialog-content .minigoal {
	margin: -8px 0px;
}	
.ngdialog-content .minigoal label {
	display: inline-block;
	padding-left: 15px;
	width: 363px;
}
.ngdialog-content .minigoal input {
	width: 13px;
	height: 13px;
	padding: 0px;
	margin: 0px 10px;
	vertical-align: bottom;
	position: relative;
	top: -4px;
	*overflow: hidden;
} 
.ngdialog-content .todo-title {
	text-align: center;
}
.ngdialog-content .minigoals {
	padding: 2px 20px;
}
.ngdialog-content .minigoals p{
	padding: 4px 25px;
}
.ngdialog-content #new-minigoal {
	height: 25px;
	margin: 7px 50px 30px;
	display: inline-block;
	width: 279px;
}
.ngdialog-content #remove-minigoal {
	display: inline-block;
}
.ngdialog-content .buttons {
	display: inline-block;
	margin: 0px 5px;
}
.ngdialog-content .input-btn {
	margin-left: 266px;
}
.ngdialog-content .input-btn .btn {
	margin: 0px 3px;
}
.ngdialog-content .input-group label {
	display: inline-block;
}
.ngdialog-content .input-group input {
	display: inline-block;
}
.ngdialog-content .input-group textarea {
	display: inline-block;
}

#done-category .newcategory {
	width: 63.333%;
	box-sizing: border-box;
	margin-top: 5px;
	float: left;
	min-height: 1px;
}
#done-category .buttons {
	float: left;
	position: relative;
	min-height: 1px;
	box-sizing: border-box;
	width: 33.333%;
	padding-left: 15px;
	margin-top: 7.5px;
}
.datepicker {
	width: 50px;
	height: 34px;
}
.note {
	width: 92%;
	margin: 2px 16px;
}